html {
    font-size: 15px;
    font-family: Montserrat;
    background-color: #000000
}

body {
    width: 730px;
    margin: 0 auto;
    background-color: black;
    padding: 0 20px 20px 20px;
    border: 10px solid #f9a825;
}


h1 {
    color: #f9a825;
    font-size: 50px;
    text-align: center;
    line-height: 10px;
    /* margin: 0px;
    padding: 20px 0;*/
    text-shadow: 3px 0px 2px rgb(255, 0, 0); 
} /* Название */

img {
    display: block;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    line-height: 0px;
}

h2 {
    color: #f9a825;
    text-align: center;
    line-height: 5px;
} /* Премия года */

h5 {
    color: #f9a825;
    text-align: center;
    line-height: 0px
} /* Дата */

h6 {
    color: #ffff;
    margin: 0 auto;
}
p,
li {
    color: #f9a825;
    font-size: 15px;
} /* Текст */

p1 {
    margin: 0 auto;
    color: #f9a825;
    font-size: 10px;
    text-align: center;
    padding: 0 0 0 320px;
    opacity: 40%;

}

p2 {
    color: #ffff;
    font-size: 10px;
    opacity: 10%;
}



li {
    text-align: center;
}

a {
    color: rgb(114, 47, 3);
}
a:hover {
    color: #37129c;
}